@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #020617;
    color: #f8fafc;
    overflow-x: hidden;
  }

  ::selection {
    background-color: #059669;
    color: #ffffff;
  }

  /* Custom Slim Scrollbars */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #020617;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #10b981;
  }
}

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}

